/* Imported fonts from Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */

/* Global and menu Style */
body{
    font-family: "Inter", sans-serif;
    background: #F5F5F5;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
main{
    min-height: 100svh;
}
/* Header style */
.headerOut{
    background: black;
}
.headerIn{
padding: 25px 30px;
display: flex;
justify-content: space-between;
align-items: center;
}
.headerGradient{
    height: 20px;
    background: linear-gradient(180deg, rgba(128,104,0,1) 0%, rgba(128,104,0,1) 50%, rgba(191,155,0,1) 50%, rgba(191,155,0,1) 100%);
}
.title{
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}
.titleBold{
    color: #FFCF00;
    font-weight: 600;
}

/* Navigation*/
nav{
   
}
.navList{
    display: flex;
}
.navList a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 1.2rem;
}
.navList a:hover{
    color: #FFCF00;
    text-decoration: underline;
}

/* Index/Watch Style */

/* Characters Style */

.characterList .characterCard{
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
}
.characterList{
    margin-top: 60px;
}
model-viewer {
    flex-basis: 300px;
    flex-shrink: 0;
    height: 350px;
    display: block;
    margin-right: 40px;
    display: flex;
    justify-content: center;
}
model-viewer::after {
    content: " ";
    height: 150px;
    width: 80%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    z-index: -1;
}
.characterList .characterCard .texts{
 margin-left: 30px;
 line-height: 30px;
 width: fit-content;
letter-spacing: 1.3px;
display: flex;
justify-content: center;
flex-direction: column;
}


.characterList .characterCard .name{
    font-size: 2.5rem;
    width: 100%;
    margin-bottom: 30px;
}
.characterList .characterCard .name .bold{
    font-weight: bold;
}
.characterList .characterCard .texts .description{
    width: 100%;
}
/* Storyboard Style */



/* Footer */
.footerForCredit{
    background: black;
    color: white;
    padding: 10px 0;
}